/* styles.css */

body {
  background: #e8dfff;
  color: #645e74;
  font-family: "Poppins";
}

.card {
  --color-primary: #8864f0;
  --color-border: #d0d0d6;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border-radius: 22px;
  padding: 20px;
  width: clamp(300px, 85vw, 500px);
}

.hero, form {
  flex: 1 1 50%;
}

.hero {
  background: url("hero.svg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 16px;
  overflow: hidden;
  font-family: "Space Grotesk";
}

.hero-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: inherit;
  background: linear-gradient(
    rgb(95 69 168 / 0%),
    rgb(95 69 168 / 70%)
  );
  padding: 40px 60px;
  height: 100%;
  min-height: 170px;
}

.hero h2 {
  font-size: 22px;
  color: #ffffff;
}

.hero h3 {
  margin-top: 12px;
  font-size: 18px;
  color: #7c2d6c;
  display: none;
}

form {
  padding: 30px 18px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

form > h2 {
  color: var(--color-primary);
}

/* styles.css */

button, input {
  height: 44px;
  border-radius: 6px;
  border: 1px solid var(--color-border);
  background: transparent;
  color: inherit;
  width: 100%;
  outline-color: var(--color-primary);
}

input {
  padding: 0 2.5vw;
}

input::placeholder {
  color: #9c9d94;
}

.socials {
  display: flex;
  gap: 8px;
}

.extra-text {
  display: none;
}

.social-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: #d9e2dd;
}

form > button[type="submit"] {
  color: #ffffff;
  background: var(--color-primary);
  font-size: 17px;
}

.or {
  position: relative;
  text-align: center;
  height: 24px;
}

.or::before {
  content: "";
  position: absolute;
  z-index: 0;
  top: 50%;
  left: 0;
  width: 100%;
  translate: 0 -50%;
  height: 1px;
  background: var(--color-border);
  opacity: 0.6;
}

.or::after {
  content: "Or";
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: 1;
  background: #ffffff;
  font-size: 12px;
  padding: 0 12px;
}


@media (width >= 485px) {
    .card {
        width: clamp(300px, 90vw, 740px);
    }

    form {
        padding-left: 48px;
        padding-right: 48px;
    }

    .hero-inner {
        padding-right: clamp(10px, 20vw, 60px);
    }

    .socials {
        flex-direction: column;
    }

    .extra-text {
        display: inline;
    }
}

@media (width >= 640px) {
    .card {
        flex-direction: row;
        padding: 8px 0 8px;
    }

    form :is(h2, h3) {
        text-align: left;
    }

    .hero-inner {
        justify-content: center;
        align-items: flex-start;
        padding: 0 36px;
    }

    .hero h3 {
        display: block;
    }

    form {
        padding: 30px;
    }
}